basePath: /
definitions:
  dto.IngredientParamRequest:
    properties:
      name:
        type: string
      stock:
        type: number
      unit_id:
        type: integer
    type: object
  dto.UnitParamRequest:
    properties:
      name:
        type: string
      symbol:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  description: API documentation for Awis Palace Ingredient Management built with
    Gin and GORM.
  title: Awis Palace Ingredient Management API
  version: "1.0"
paths:
  /ingredients:
    get:
      description: Get Ingredients
      responses: {}
      summary: Get Ingredients
      tags:
      - Ingredients
    post:
      description: Post Ingredients
      parameters:
      - description: Create ingredient
        in: body
        name: unit
        required: true
        schema:
          $ref: '#/definitions/dto.IngredientParamRequest'
      responses: {}
      summary: Post Ingredients
      tags:
      - Ingredients
  /units:
    get:
      description: Get Units
      responses: {}
      summary: Get Units
      tags:
      - Units
    post:
      description: Post Units
      parameters:
      - description: Unit data
        in: body
        name: unit
        required: true
        schema:
          $ref: '#/definitions/dto.UnitParamRequest'
      responses: {}
      summary: Post Units
      tags:
      - Units
  /units/{id}:
    delete:
      description: Delete a unit by ID
      parameters:
      - description: Unit ID
        in: path
        name: id
        required: true
        type: string
      responses: {}
      summary: Delete Unit
      tags:
      - Units
    put:
      description: Update an existing unit by ID
      parameters:
      - description: Unit ID
        in: path
        name: id
        required: true
        type: integer
      - description: Updated unit data
        in: body
        name: unit
        required: true
        schema:
          $ref: '#/definitions/dto.UnitParamRequest'
      responses: {}
      summary: Update Unit
      tags:
      - Units
  /users:
    get:
      description: Get Users
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get Users
      tags:
      - Users
swagger: "2.0"
